.about_us_container{
    display: flex;
    background-color: black;
    height: 50%;
    width: 70%;
    position: absolute;
    top: 30%;
    left: 20%;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.7);
    
}
.about_us{
    position: relative;
    top: 15%;
    left: 10%;
    width: 40%;
    height: 100%;
    /* border: 2px solid white; */

}
.about_us_img{
    position: relative;
    top: 10%;
    left: 17%;
}
.about_us p{
    color: white;
    margin-top: 2%;
}
.about_us label{
    color: white;
    margin-left: 40%;
}