*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header-compo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(244, 244, 94);
    padding: 25px;
    width: 100%;

}
button{
    background-color: rgb(244, 244, 94);
}
.header{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.sign-in{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    align-content: center;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:75px;
    
}
.label-heading{
    position: relative;
    left: 40%;
    top: 45px;
    font-size: 80px;
}
