*{
    margin: 0;
    padding: 0;
}

.payment_details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    /* justify-content: center;
    align-items: center; */
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 19%;
    position: absolute;
    left: 70%;
    top: 10%;
    padding: 25px;
    border-radius: 10px;
    gap: 18px;

}
.payment_lable{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 90%;
    top: 0%;

}
.payment_details_input input{
    background-color: blue;
    outline: none;
    border-bottom: 1px solid white;
}
::placeholder {
    color: white;
    opacity: 0.7; /* Firefox */
  }