
/* General styles for the table */
/* .details_of_tracking table {
    width: 100%;
    position: relative;
    top: 10%;
    left: 25%;
    font-size: 16px;
    text-align: left;
} */

/* Table headers */
.details_of_tracking th {
    background-color: #4c98af; /* Green header */
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Table cells */
.details_of_tracking td {
    /* padding: 10px; */
    border: 1px solid #ddd;
}

/* Alternating row colors */
.details_of_tracking tr:nth-child(even) {
    background-color: black; /* Light gray */
}

.details_of_tracking tr:nth-child(odd) {
    background-color: black; /* White */
}

/* Highlight row on hover */
.details_of_tracking tr:hover {
    background-color: #3b3838; /* Light gray */
}
/* Table container */
.details_of_tracking {
    width: 100%;
    height: 100vh;
    background-color: black;
}
div.two_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tracking_of_customer_sub{
    width: 80%;
    position: relative;
    top: 10%;
    left: 10%;
    font-size: 16px;
    text-align: left;
}
.two_btn input{
    background-color: black;
    outline: none;
}
